/*legend:after{
  font-family: "Glyphicons Halflings";
  content: "\2212";
  float: right;
  color: #CD040B;
  padding: 0;
  font-size: 14px;
}*/

.menu-open:after {
    content: "\2b";
    padding: 0;
}

.divtable {
    margin: 5px auto;
    width: 1500px;
    height: auto;
}

.fixedspace {
    height: 80px
}

.fixedbt {
    position: fixed;
    right: 20px;
    bottom: 22px;
}

@media screen and (min-width:1200px) {
    header .navbar {
        min-height: 70px !important;
    }
}

@media (min-width: 768px) {
    header .navbar .navbar-header .navbar-brand {
        min-height: 70px !important;
    }
}

.verticalLine {
    border-left: 2px solid #000;
    margin-top: 9px;
    margin-left: 9px;
    display: inline-block;
}

.templatedata {
    padding: 3px;
    border: 1px solid rgb(221, 221, 221);
    overflow: hidden;
    width: 130px;
    display: inline-block;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.templatedata:hover {
    background-color: #bdbdbd;
}

.linktext {
    color: #CD040B;
    text-align: center;
    font-size: 15px;
}

.localarp, .localIpv6, .showRestart {
    display: none;
}

.showIpv4, .showIpv6 {
    display: none;
}

.link-text-style {
    z-index: 10;
    position: absolute;
    right: 2px;
    top: 80px;
    margin: 10px;
    padding: 10px;
    width: 154px;
    height: auto;
    border: 1px solid rgb(221, 221, 221);
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.threed-data {
    right: 150px;
    width: 200px;
    ;
}

.link-text-style .left {
    display: inline-block;
    text-align: right;
    width: 41px;
    vertical-align: top;
}

.threed-data .left {
    width: 80px;
}

.link-text-style .right {
    padding: 0px 2px;
    display: inline-block;
    width: 82px;
}

.link-text-style .center {
    padding: 0px 2px;
}

.link-text-style .clrSrc {
    text-align: center;
    display: block;
}

.modal-content h3 {
    margin-top: 0;
}

.modal-content .badge {
    background-color: #777;
}

.modal-content .tabs-left {
    /*margin-top: 3rem;*/
}

.modal-content .nav-tabs {
    float: none;
    border-bottom: 0;
}

.modal-content .nav-tabs li {
    float: none;
    margin: 0;
}

.modal-content .nav-tabs li a {
    margin-right: 0;
    border: 0;
}

.nav-tabs li a:hover, .modal-content .nav-tabs li.active a, .modal-content .nav-tabs li a:focus, .modal-content .nav-tabs>li.active>a, .modal-content .nav-tabs>li.active>a:focus, .modal-content .nav-tabs>li>a:focus, .modal-content .nav-tabs>li>a:hover {
    color: #CD0408;
    border: none;
}

.modal-content .nav-tabs .glyphicon {
    color: #fff;
}

.modal-content .nav-tabs .active .glyphicon {
    color: #333;
}


/*.modal-content  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0;
}
*/

.modal-content .tab-content .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;
}

.modal-content .tab-content .active {
    display: block;
}

.modal-content .list-group {
    width: 100%;
}

.modal-content .list-group .list-group-item {
    height: 50px;
}

.modal-content .list-group .list-group-item h4, .list-group .list-group-item span {
    line-height: 11px;
}

.modal-dialog {
    width: 900px;
    margin: 30px auto;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

.example {
    margin: 20px;
}

.sublogo {
    font-weight: bold;
    font-family: "nhg-text-bold", Arial, Helvectica;
    font-size: 22px;
    color: rgb(205, 4, 11);
    padding-top: 9px;
    display: inline-block;
}

header .navbar .navbar-header .navbar-brand {
    width: 190px;
}

header .navbar .navbar-header {
    display: flex;
    align-items: center;
}

.navbar-toggle {
    display: inline-block;
}

header .navbar .navbar-header .navbar-toggle {
    position: relative;
    padding: 28px 12px;
    margin-right: 8px;
}

header .leftnav {
    align-items: center;
    display: flex;
    height: 70px;
    flex-direction: row-reverse;
}

#profile-menu {
    position: relative;
    bottom: 0px;
}

#vz-search-form {
    float: none;
    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
}

.notifications {
    font-size: 24px;
    padding: 15px;
}

.link {
    display: inline-block;
    padding-left: 5px;
}

.left-menu, .right-menu {
    border: 1px solid #ccc;
    z-index: 1;
    border-top: none;
}

.right-menu {
    border-left: none;
    z-index: 1
}

.left-menu {
    position: relative;
    overflow-y: auto;
}

.toggle-left-menu button {
    position: relative;
}

.toggle-left-menu button {
    border-radius: 0px;
    padding: 7px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    left: -15px;
}

.toggle-left-menu button.left-position {
    left: 39px;
}


/*.toggle-left-menu .left-position {
  left: -104px;
}*/

.layout-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.layout-flex>div {
    margin: 16px 5px;
    text-align: center;
    width: 75px;
}

.create-new {
    text-align: right;
    padding-bottom: 5px;
}

.layout-component, layout-template {
    padding: 5px 0px 5px;
}

h5 {
    font-weight: bold;
}

.layout-flex>div button, .layout-flex>div button:hover {
    background-color: #fff;
    border: none;
    padding: 0px 23px;
    min-height: 38px;
}

.layout-flex div.selected-link-class .link-icon {
    /*background-color: #004BAF;
    border: none;*/
    background-color: rgb(205, 4, 11);
    border-color: rgb(205, 4, 11);
}
.layout-flex>div button i {
    color: #000;
}

.layout-flex div.selected-link-class i {
    color: #fff;
}

.fa.notifications {
    font-size: 24px;
    color: #4b4b4b;
}

.relativePos .btn-default:hover, .relativePos .btn-default:focus, .relativePos .btn-default:active, .relativePos .btn-default.active {
    background-color: #fff;
    border-color: #fff;
}

.relativePos .btn:active, .relativePos .btn.active {
    box-shadow: none;
}

link {
    display: inline-block;
    padding-left: 5px;
}

.left-menu, .right-menu {
    z-index: 1
}

.right-menu {
    border-left: none;
    padding-left: 28px;
    padding-top: 15px;
}

.toggle-left-menu {
    position: absolute;
    height: 0px;
    z-index: 2;
}


/*.toggle-left-menu button,
.left-menu {
  z-index: 3;
  position: relative;
  ;
  overflow: auto;
}*/

.layout-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.layout-flex>div {
    text-align: center;
    min-width: 90px;
    max-width: 97px;
    flex: auto;
}

.create-new {
    text-align: right;
    padding-bottom: 5px;
}

.layout-component, layout-template {
    padding: 5px 0px 5px;
}

h5 {
    font-weight: bold;
    cursor: pointer;
}

hr {
    margin: 5px 0px
}

.layout-template .accordion {
    float: left;
    padding-right: 5px;
}

.layout-template h5 {
    cursor: pointer;
}

.hidden {
    display: none;
}

.layout-flex>div.details {
    flex-basis: 100%;
    background-color: #eeeeee;
    max-width: none;
}

.hidden {
    display: none;
}

.layout-flex>div.details div.details-element {
    line-height: 24px;
    text-align: left;
}

.layout-flex>div.details div.details-element span {
    text-align: left;
    vertical-align: top;
}

.layout-flex>div.details div.details-element span.labelData {
    display: inline-block;
    width: 40%;
    flex-grow: 1;
    text-align: right;
    padding-right: 5px;
}

.layout-flex>div.details div.details-element span.data {
    display: inline-block;
    width: 56%;
    flex-grow: 1;
    padding-left: 5px;
}

.layout-flex>div.details .link {
    display: inline-block;
    width: 100%;
    background-color: #bdbdbd;
    padding: 5px;
}

.margin-data {
    padding-top: 10%;
    padding-left: 50%
}

.custom-tooltip {
    /*display: flex;
  flex-wrap: wrap;*/
    font-family: "Arial";
    font-size: 12px;
}

.custom-tooltip i {
    font-size: 14px;
    ;
    padding-bottom: 5px;
}

.popover {
    max-width: 334px;
}

.bold-text {
    font-weight: 800;
}

.popup-section {
    text-align: left;
    padding: 5px 0px;
    margin: 5px auto;
    cursor: pointer;
    text-align: left;
}

.popup-section:hover {
    opacity: 0.6
}

.controls, .controls1 {
    width: 30%;
    border-right: none;
    display: none
}

.context-menu {
    z-index: 1000
}

.popup-section div.label-data {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    top: -2px;
}

#pageModal .modal-dialog {
    width: 80%;
}

.fb-icon, .optical-switch {
    width: 36px;
    height: 36px;
    display: inline-block;
    background-image: url("images/ciscoicons/forwarding box.png");
    background-repeat: no-repeat;
}

.optical-switch {
    height: 36px;
    background-image: url("images/ciscoicons/optical switch.png");
}

.link-icon {

      font-size: 18px;
      border: 2px solid #007DC3;
      padding: 6px;
      border-radius: 2px;
      background-color: #007DC3;
      cursor: pointer;
      color:#fff

}

.patch-panel {
    height: 37px;
    background-image: url(images/ciscoicons/patchpanel.jpg);
    background-repeat: no-repeat;
    width: 23px;
    margin: 0 0 0 0%;
    background-size: 80%;
}

.host {
    height: 36px;
    background-image: url("images/ciscoicons/host_cisconextui.png");
    background-size: 90% auto;
    width: 36px;
    background-repeat: no-repeat;
}

.linkhide {
    display: none;
}

#pageModal .radio {
    display: inline-block;
    padding-right: 10px;
}

#pageModal label {
    display: block;
}

.relativePos {
    position: relative;
}

.context-menu {
    border: 1px solid grey;
    border-bottom: 0px;
    position: absolute;
    top: 45px;
    left: 40px;
    background-color: #fff;
}

.contextUl {
    list-style: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.contextUl:before {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    top: -6px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.contextUlLi {
    padding: 5px 10px;
    border-bottom: 1px solid grey;
}

#pageModal .alert-message-success, #pageModal .alert-message-error {
    padding: 1.6rem;
    overflow-y: auto;
    display: none;
}


/*.left-tabs.nav-tabs{height:44px;}*/

.btn-primary, .btn-primary:hover {
    background: #CD040B;
    border: 0px;
}

.btn-default, .btn-default:hover {
    background: #4B4B4B;
    color: #fff;
    border: 0px;
}


/*.btn.active:focus, .btn:active:focus, .btn:focus, a:focus {
    box-shadow: none;    background-color: #fff;
}*/

.spin {
    filter: alpha(opacity=10);
    opacity: 0.1;
    margin: 17% 0 0 46%;
    text-align: center;
    z-index: 10;
    position: absolute;
    background: #FFF;
    /* outline */
    >* {
        background: #EEE;
        /* hand */
    }
}

.popup {
    position: relative;
}

.tooltip-container {
    text-align: left;
}

.float-actions {
    z-index: 10;
    position: absolute;
    right: 2px;
    padding: 10px;
}

.settings {
    vertical-align: middle;
    horizontal-align: center;
    margin: auto;
}

.navbar-collapse.collapse {
    display: none !important;
}

header .navbar.navbar-default .navbar-collapse {
    position: absolute;
    background: #fff;
    max-width: 400px;
    left: 0px;
    box-shadow: 2px 3px 2px #ccc;
    top: 76px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

header .navbar .navbar-collapse .nav.navbar-nav>li {
    display: block;
    width: 100%;
}

header .navbar .navbar-nav {
    max-height: none;
    margin-top: 9px;
}

header .navbar .navbar-collapse .nav.navbar-nav>li:first-child>a {
    padding-left: 10px;
}

.policies {
    padding: 0px 15px 0 35px;
    /* width: 90%;
    margin: 0 7% 0 7%;
    border: 1px solid black;*/
}

.policytable {
    margin: 1% 0 0 1.1%;
    width: 98.92%;
}

.policyCreate {
    float: right;
    padding: 0 0 0 3px;
    margin: 1% 0% 0 1%;
}

.polconstraint {
    width: 97%;
    margin: 0% 0 0 3%;
}

.multilayered {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    /*  min-height: 300px;*/
}

.verifiedlayout {
    padding-right: 10px;
    border-right: 1px solid #ccc;
    min-height: 300px;
}

.directlayout {
    min-height: 300px;
}

.hideLink {
    display: none
}

.break {
    padding: 10px 0px;
}

.layout-flex>.suggestions {
    font-style: italic;
    font-family: Arial, "Open-Sans";
    font-size: 18px;
    position: absolute;
    z-index: 1;
    width: 100% !important;
    display: block;
    left: 40%;
    top: 34%;
    max-width: 347px;
}

span.templatedata:hover {
    cursor: pointer;
}

.verifiedlayout-on, .multilayered-on, .threed-data:hover, .discovered-on {
    display: block !important;
}

.verifiedlayout-off, .multilayered-off, .discovered-off {
    display: none;
}

.extraRight {
    right: 103px;
}

.btn.btn-info.btn-add.col-xs-12, .btn.btn-danger.array-item-remove {
    padding: 6px 10x;
    margin: 0px;
    min-height: 10px;
    line-height: 29px;
    width: auto;
    text-align: right;
    float: right;
    border: none;
}

.osMargin {
    margin: 0 0 0 0;
}

.btn.btn-info.btn-add.col-xs-12, .btn.btn-danger.array-item-remove, button.btn.btn-default.array-item-move-down, button.btn.btn-default.array-item-move-up {
    margin: 8px;
    min-height: 10px;
    line-height: 26px;
    /* width: auto; */
    /* text-align: right; */
    float: right;
    border: none;
}

.configFB {
    padding-left: 15px;
}

.configFB button[type="submit"] {
    display: none;
}

.configFB .btn-danger::after, .configFB .btn-primary::after {
    content: " "
}

.configuration {
    width: 100%;
    padding: 15px 0 15px 35px;
}


/*New*/

.policies {
    padding: 0 30px;
}

.policies .panel-body {
    border: 0 !important;
}

.policytable {
    margin: 0;
    width: 100%;
}

.policies .accordion .panel-body {
    padding: 0!important;
}

.iconPosition {
    float: right;
    margin: 5px 0;
}

.iconPosition .link a, .iconPosition .link a:hover {
    text-decoration: none;
    font-weight: bold;
}

.policyCreate {
    width: 500px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    height: 100%;
    border: 0;
    border-radius: 0;
}

.policyCreate .modal-header {
    display: block;
    height: 65px;
}

.policyCreate .modal-header h3 {
    margin-bottom: 0;
    margin-top: 10px
}

.policyCreate .modal-footer {
    display: block;
    height: 10%;
}

.policyCreate .modal-body {
    min-height: 85%;
    display: block;
    overflow: auto;
}

.policyCreate .col-xs-9 {
    width: 90%;
}

.policyCreate label, .policyCreate legend {
    font-size: 14px;
    font-family: nhg-display-bold, arial, sans-serif;
}

.policyCreate legend {
    margin: 20px 0;
    padding: 0 0 6px;
}

.policyCreate .form-group {
    margin-bottom: 25px;
}

.policiesCreate>fieldset .field-object, .policiesCreate>fieldset .field-array {
    background: #e8f6fe;
    margin-bottom: 0;
    padding: 15px;
}

.policiesCreate>fieldset .field-object, .pathbundleCreate {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.policiesCreate>fieldset .field-array .field-array-of-object {
    padding: 0;
}

.policiesCreate>fieldset>legend, .pathbundleCreate>fieldset>legend {
    cursor: pointer;
}

.policiesCreate>fieldset>legend:after, .pathbundleCreate>fieldset>legend:after {
    font-family: "Glyphicons Halflings";
    content: "\2212";
    float: right;
    color: #CD040B;
    padding: 0;
    font-size: 14px;
}

.policiesCreate>fieldset>legend.menu-open:after, .pathbundleCreate>fieldset>legend.menu-open:after {
    content: "\2b" !important;
    padding: 0;
}

.pathbundleCreate .field-object {
    background: #e4e5e3 !important;
    margin-bottom: 15px !important;
}

.policyCreate .array-item-toolbox {
    width: 40px;
    padding: 0;
    position: relative;
    float: right;
    right: 45px;
    top: 28px;
}

.policyCreate .array-item-toolbox button {
    border-radius: 50%;
    font-size: 12px;
    line-height: 12px !important;
}

.policyCreate .array-item-toolbox button:after {
    content: '';
}

.pathbundleCreate .array-item-toolbox {
    float: right;
    width: 40px;
    padding: 0;
    top: -18px;
    right: 36px;
}

.pathbundleCreate .array-item-toolbox button {
    border-radius: 50%;
    font-size: 12px;
    line-height: 12px !important;
}

.pathbundleCreate .array-item-toolbox button:after {
    content: '';
}

.iconPosition i {
    padding-right: 5px
}

.iconPosition {
    cursor: pointer;
}

.first-row {
    width: 50%;
}

.tooltip-container {
    max-height: 250px;
    overflow-y: auto;
}

.logGrid {
    height: 500px;
    width: 80%;
}

.inventoryGrid {
    width: 100%;
}
.ag-fresh .ag-cell-not-inline-editing {
    padding: 10px 5px;
}

.ag-fresh .ag-row-odd {
    background-color: #F9F9F9
}

.ag-fresh .ag-ltr .ag-cell-no-focus {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid transparent;
}

.ag-fresh .ag-header {
    background: #E3E1E2;
}

.ag-fresh .ag-header-cell-text {
    font-family: nhg-text-bold, arial, sans-serif;
}

.ag-ltr .ag-header-cell-resize {
    background: #E3E1E2;
    .
}

.ag-fresh .ag-header-cell-label {
    padding: 10px 2px;
    text-align: left;
    background: #E3E1E2;
}

.ag-fresh .ag-ltr .ag-header-cell {
    border-right: 1px solid #ccc;
}

.ag-fresh .ag-header {
    border-bottom: 1px solid #ccc;
}

.ag-fresh .ag-root {
    border: 1px solid #ccc;
}

.show-entries {
    width: 165px;
    display: inline-block;
    font-family: "nhg-text-bold", Arial, Helvetica, sans-serif;
    position: absolute;
    right: 543px;
    margin-top: -34px;
}

.show-entries select {
    width: 70px;
    display: inline-block;
}

.ag-fresh .ag-paging-panel, .ag-fresh .ag-paging-panel span, .ag-fresh .ag-paging-panel button {
    font-family: "nhg-text-bold", Arial, Helvetica, sans-serif;
}

.ag-fresh .ag-paging-row-summary-panel {
    display: inline-block;
    width: auto;
    padding-right: 10px;
    border-right: 2px solid #ccc;
    margin-right: 10px;
    border-left: 2px solid #ccc;
    margin-left: 10px;
    padding-left: 10px;
    line-height: 32px;
}

.ag-paging-panel button {
    background: transparent;
    color: #000;
    margin: 0px;
    padding: 0px 13px;
    min-width: 0px !important;
}

.ag-fresh .ag-paging-button:disabled {
    color: #eee;
}

div#south {
    display: block;
    float: right;
    width: 510px;
    position: relative;
    top: 5px;
}

ag-fresh .ag-paging-button {
    /* margin-left: 4px; */
    /* margin-right: 4px; */
    margin: 0px;
    padding: 0px 13px;
    min-width: 0px !important;
}

.ag-fresh {
    display: block;
}

.gridFilter {
    width: 250px;
}

.ag-fresh .ag-cell-not-inline-editing, .ag-cell {
    padding-top: 7px !important;
}

.virtual_link  {
    font-size: 18px;
    border: 2px dashed #007DC3;
    padding: 7px;
    border-radius: 2px;
    color: #007DC3;
    cursor: pointer
}
.layout-flex div.selected-link-class .virtual_link{
      color: rgb(205, 4, 11);
      border-color:  rgb(205, 4, 11);

}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 20px;
}
.ag-header-cell ,.ag-scrolls .ag-header-container{
    background: #E3E1E2;
}
