<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Configure Forwarding Box</h4>
    </div>
    <div class="modal-body">


      <div class="rowAll">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="tabs-left">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#fbConfig" data-toggle="tab">Bridge</a></li>
                <li><a href="#fbConfigLink" data-toggle="tab">Link Speed</a></li>
                <li><a href="#addPort" data-toggle="tab">Port</a></li>
                <li><a href="#fbConfigController" data-toggle="tab">Controller</a></li>
                <li><a href="#lldpConfigIL" data-toggle="tab">LDAP</a></li>
                <li><a href="#configArp" data-toggle="tab">ARP</a></li>
                <li><a href="#configTcam" data-toggle="tab">TCAM</a></li>
                <li><a href="#addPortInterval" data-toggle="tab">Polling Frequencies</a></li>
                 <li><a href="#sslConfigService" data-toggle="tab">SSL</a></li>
                 <li><a href="#sslConfigServiceInterval" data-toggle="tab">Composite API</a></li>
                 
                
                
              </ul>
              <div class="tab-content">
              <div class="alert alert-success alert-message">
				  <strong>Success!</strong> Indicates a successful or positive action.
				</div>
				<div class="alert alert-danger alert-message">
					  <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
					</div>
                <div class="tab-pane active" id="fbConfig">
                  <div class="row">
                    <div>
                      
                      <form>
                        <div class="form-group col-md-4">
                          <label for="name">Name:</label>
                          <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="datapath_type">Datapath Type:</label>
                          <input type="text" class="form-control" id="datapath_type">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="datapath_id">Datapath ID:</label>
                          <input type="text" class="form-control" id="datapath_id">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="protocols">Protocols:</label>
                          <input type="text" class="form-control" id="protocols">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="fb_ip">FB IP:</label>
                          <input type="text" class="form-control" id="fb_ip">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="fbConfigController">
                  <div class="row">
                    <div>
                     
                      <form>
                        <div class="form-group col-md-4">
                          <label for="name">Name:</label>
                          <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="controller_ip">Controller IP:</label>
                          <input type="text" class="form-control" id="controller_ip">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="of_port">OF Port:</label>
                          <input type="text" class="form-control" id="of_port">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="protocols">Protocols:</label>
                          <input type="text" class="form-control" id="protocols">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="fb_ip">FB IP:</label>
                          <input type="text" class="form-control" id="fb_ip">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="fnConfigLldp">
                  <div class="row">
                    <div>


                      


                      <form>
                        <div class="form-group col-md-4">
                          <label for="lldp_msg_tx_hold">LLDP Message Hold:</label>
                          <input type="text" class="form-control" id="lldp_msg_tx_hold">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="lldp_msg_tx_interval">LLDP Message TX Inveval:</label>
                          <input type="text" class="form-control" id="lldp_msg_tx_interval">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="lldp_reinit_delay">LLDP Reinit Delay:</label>
                          <input type="text" class="form-control" id="lldp_reinit_delay">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="lldp_tx_delay">LLDP TX Delay:</label>
                          <input type="text" class="form-control" id="lldp_tx_delay">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="global_lldp_enable">Global LLDP Enable:</label>
                          <input type="text" class="form-control" id="global_lldp_enable">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="fb_br">FB BR:</label>
                          <input type="text" class="form-control" id="fb_br">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="fb_ip">FB IP:</label>
                          <input type="text" class="form-control" id="fb_ip">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="addPort">
                  <div class="row">
                    <div>
                     
                      <form>
                       <div class="form-group col-md-12">
                        <div class="form-group col-md-4">
                          <label for="name">Name:</label>
                          <input type="text" class="form-control" data-id="name">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="vlan_mode">VLAN Mode:</label>
                          <div class="radio">
                            <label>
                              <input type="radio" name="vlan_mode" checked="checked" data-id="Trunk" value="Trunk">Trunk</label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="vlan_mode" data-id="Access" value="Access">Access</label>
                          </div>
                        </div>
                       
                        <div class="form-group col-md-4 " >
                          <label for="trunks">Trunks:</label>
                          <input type="text" class="form-control" data-id="trunks" >
                        </div>
                          <div class="form-group col-md-4  " style="display:none">
                          <label for="tag">Tag:</label>
                          <input type="text" class="form-control " data-id="tag" >
                        </div>
                        </div>
                       <div class="form-group col-md-12">
                         <div class="form-group col-md-4">
                          <label for="fb_ip">FB IP:</label>
                          <input type="text" class="form-control" data-id="fb_ip">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="type">Type:</label>
                          <input type="text" class="form-control" data-id="type">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="speed">Speed:</label>
                          <input type="text" class="form-control" data-id="speed">
                        </div>
                        </div>
                         <div class="form-group col-md-12">

                        <div class="form-group col-md-4">
                          <label for="is_dac">DAC:</label>
                          <div class="radio">
                            <label>
                              <input type="radio" name="is_dac" data-id="True">True</label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="is_dac" data-id="False">False</label>
                          </div>
                          </div>
                          </div>
                      </form>
                      </div>
                    </div>
                  </div>
                
                <div class="tab-pane" id="fbConfigLink">
                  <div class="row">
                    <div>
                     
                      <form>
                        <div class="form-group col-md-4">
                          <label for="link_speed">Link Speed:</label>
                          <input type="text" class="form-control" id="link_speed">
                        </div>
                         <div class="form-group col-md-4">
                          <label for="port_name">Port Name:</label>
                          <input type="text" class="form-control" id="port_name">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="addPortInterval">
                  <div class="row">
                    <div>
                     
                      <form>
                        <div class="form-group col-md-4">
                          <label for="counter_query_interval">Counter Query Interval:</label>
                          <input type="text" class="form-control" id="counter_query_interval">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="sfp_query_interval">SFP Query Interval:</label>
                          <input type="text" class="form-control" id="sfp_query_interval">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="sfp_enable">SFP Enable:</label>
                          <div class="radio">
                            <label>
                              <input type="radio" name="sfp_enable">True</label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="sfp_enable">False</label>
                          </div>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="alarm_enable">Alarm Enable:</label>
                          <div class="radio">
                            <label>
                              <input type="radio" name="alarm_enable">True</label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="alarm_enable">False</label>
                          </div>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="counter_enable">Counter Enable:</label>
                          <div class="radio">
                            <label>
                              <input type="radio" name="counter_enable">True</label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="counter_enable">False</label>
                          </div>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="alarm_high_temp">Alarm High Temp:</label>
                          <input type="text" class="form-control" id="alarm_high_temp">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="alarm_low_temp">Alarm Low Temp:</label>
                          <input type="text" class="form-control" id="alarm_low_temp">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="hwflow_enable">HW Flow Enable:</label>
                          <div class="radio">
                            <label>
                              <input type="radio" name="hwflow_enable">True</label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="hwflow_enable">False</label>
                          </div>
                          
                          <div class="form-group col-md-4">
                            <label for="hwflow_query_interval">HW Flow Query Interval:</label>
                            <input type="text" class="form-control" id="hwflow_query_interval">
                          </div>
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="configArp">
                  <div class="row">
                    <div>
                      
                      <form>
                        <div class="form-group col-md-4">
                          <label for="arp_subnet">ARP Subnet:</label>
                          <input type="text" class="form-control" id="arp_subnet">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="nd_subnet">ND Subnet:</label>
                          <input type="text" class="form-control" id="nd_subnet">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="configTcam">
                  <div class="row">
                    <div>
                      
                      <form>
                        <div class="form-group col-md-4">
                          <label for="match_mode_name">Match Mode Name:</label>
                          <input type="text" class="form-control" id="match_mode_name">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="priority_low">Priority Low:</label>
                          <input type="text" class="form-control" id="priority_low">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="priority_high">Priority High:</label>
                          <input type="text" class="form-control" id="priority_high">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="lldpConfigIL">
                  <div class="row">
                    <div>
                      
                      <form>
                        <div class="form-group col-md-4">
                          <label for="fb_br">FB BR:</label>
                          <input type="text" class="form-control" id="fb_br">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="fb_ip">FB IP:</label>
                          <input type="text" class="form-control" id="fb_ip">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="per_interface_settings">Per Interface Settings:</label>
                          <input type="text" class="form-control" id="per_interface_settings">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="sslConfigService">
                  <div class="row">
                    <div>
                      <h2>SSL Configuration Service</h2>
                      <form>
                        <div class="form-group col-md-4">
                          <label for="name">Name:</label>
                          <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="private_key">Private Key:</label>
                          <input type="text" class="form-control" id="private_key">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="certificate">Certificate:</label>
                          <input type="text" class="form-control" id="certificate">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="ca_cert">CA Cert:</label>
                          <input type="text" class="form-control" id="ca_cert">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="bootstrap_ca_cert">Bootstrap CA Cert:</label>
                          <input type="text" class="form-control" id="bootstrap_ca_cert">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="fb_ip">FB IP:</label>
                          <input type="text" class="form-control" id="fb_ip">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="sslConfigServiceInterval">
                  <div class="row">
                    <div>
                     
                      <form>
                        <div class="form-group col-md-4">
                          <label for="name">Name:</label>
                          <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="datapath_type">Datapath Type:</label>
                          <input type="text" class="form-control" id="datapath_type">
                        </div>

                        <div class="form-group col-md-4">
                          <label for="datapath_id">Datapath ID:</label>
                          <input type="text" class="form-control" id="datapath_id">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="fb_ip">FB IP:</label>
                          <input type="text" class="form-control" id="fb_ip">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="protocols">Protocols:</label>
                          <input type="text" class="form-control" id="protocols">
                        </div>
                     

                                <div class="form-group col-md-4">
                                  <label for="name">Name:</label>
                                  <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="vlan_mode">VLAN Mode:</label>
                                  <input type="text" class="form-control" id="vlan_mode">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="type">Type:</label>
                                  <input type="text" class="form-control" id="type">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="trunks">Trunks:</label>
                                  <input type="text" class="form-control" id="trunks">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="speed">Speed:</label>
                                  <input type="text" class="form-control" id="speed">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="is_dac">DAC:</label>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="is_dac">True</label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="is_dac">False</label>
                                  </div>
                                </div>
                              
                                <div class="form-group col-md-4">
                                  <label for="name">Name:</label>
                                  <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="lldp_enable">LLDP Enable:</label>
                                  <input type="text" class="form-control" id="lldp_enable">
                                </div>
                              
                                <div class="form-group col-md-4">
                                  <label for="name">Name:</label>
                                  <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="controller_ip">Controller IP</label>
                                  <input type="text" class="form-control" id="controller_ip">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="of_port">OF Port:</label>
                                  <input type="text" class="form-control" id="of_port">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="connect_protocol">Connect Protocol:</label>
                                  <input type="text" class="form-control" id="connect_protocol">
                                </div>
                             
                            
                     
                        <div class="form-group col-md-4">
                          <label for="lldp_msg_tx_hold">LLDP Message Hold:</label>
                          <input type="text" class="form-control" id="lldp_msg_tx_hold">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="lldp_msg_tx_interval">LLDP Message TX Inveval:</label>
                          <input type="text" class="form-control" id="lldp_msg_tx_interval">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="lldp_reinit_delay">LLDP Reinit Delay:</label>
                          <input type="text" class="form-control" id="lldp_reinit_delay">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="lldp_tx_delay">LLDP TX Delay:</label>
                          <input type="text" class="form-control" id="lldp_tx_delay">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="global_lldp_enable">Global LLDP Enable:</label>
                          <input type="text" class="form-control" id="global_lldp_enable">
                        </div>

                        <div class="form-group col-md-4">
                          <label for="ssl_name">SSL Name:</label>
                          <input type="text" class="form-control" id="ssl_name">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="private_key">Private Key:</label>
                          <input type="text" class="form-control" id="private_key">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="certificate">Certificate:</label>
                          <input type="text" class="form-control" id="certificate">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="ca_cert">CA Cert:</label>
                          <input type="text" class="form-control" id="ca_cert">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="bootstrap_ca_cert">Bootstrap CA Cert:</label>
                          <input type="text" class="form-control" id="bootstrap_ca_cert">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="arp_subnet">ARP Subnet:</label>
                          <input type="text" class="form-control" id="arp_subnet">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="nd_subnet">ND Subnet:</label>
                          <input type="text" class="form-control" id="nd_subnet">
                        </div>

                        <div class="form-group col-md-4">
                          <label for="counter_query_interval">Counter Query Interval:</label>
                          <input type="text" class="form-control" id="counter_query_interval">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="sfp_query_interval">SFP Query Interval:</label>
                          <input type="text" class="form-control" id="sfp_query_interval">


                        </div>
                        <div class="form-group col-md-4">
                          <label for="sfp_enable">SFP Enable:</label>
                          <div class="radio">
                            <label>
                              <input type="radio" name="sfp_enable">True</label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="sfp_enable">False</label>
                          </div>
                        </div>

                        <div class="form-group col-md-4">
                          <label for="alarm_enable">Alarm Enable:</label>
                          <div class="radio">
                            <label>
                              <input type="radio" name="alarm_enable">True</label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="alarm_enable">False</label>
                          </div>

                        </div>
                        <div class="form-group col-md-4">
                          <label for="counter_enable">Counter Enable:</label>
                          <div class="radio">
                            <label>
                              <input type="radio" name="counter_enable">True</label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="counter_enable">False</label>
                          </div>

                        </div>

                        <div class="form-group col-md-4">
                          <label for="hwflow_enable">HW Flow Enable:</label>
                          <div class="radio">
                            <label>
                              <input type="radio" name="hwflow_enable">True</label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="hwflow_enable">False</label>
                          </div>
</div>


                          <div class="form-group col-md-4">
                            <label for="hwflow_query_interval">HW Flow Query Interval:</label>
                            <input type="text" class="form-control" id="hwflow_query_interval">
                          </div>

                          <div class="form-group col-md-4">
                            <label for="alarm_high_temp">Alarm High Temp:</label>
                            <input type="text" class="form-control" id="alarm_high_temp">
                          </div>



                          <div class="form-group col-md-4">
                            <label for="alarm_low_temp">Alarm Low Temp:</label>
                            <input type="text" class="form-control" id="alarm_low_temp">
                          </div>



                      </form>




                      </div>

                    </div>

                  </div>
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /tabbable -->
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->
        </div>
        <!-- /row -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm saveBtn" >Save</button>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
