

.modal-content h3 {
  margin-top: 0;
}

.modal-content .badge {
  background-color: #777;
}

.modal-content  .tabs-left {
  /*margin-top: 3rem;*/
}

.modal-content .nav-tabs {
  float: left;
  border-bottom: 0;
}
.modal-content .nav-tabs li {
  float: none;
  margin: 0;
}
.modal-content .nav-tabs li a {
  margin-right: 0;
  border: 0;
}
.nav-tabs li a:hover ,.modal-content .nav-tabs li.active a,.modal-content .nav-tabs li a:focus,
.modal-content  .nav-tabs > li.active > a, .modal-content  .nav-tabs > li.active > a:focus
, .modal-content  .nav-tabs > li > a:focus,.modal-content  .nav-tabs > li > a:hover {
color: #CD0408;border: none;
}
.modal-content .nav-tabs .glyphicon {
  color: #fff;
}
.modal-content .nav-tabs .active .glyphicon {
  color: #333;
}

/*.modal-content  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0;
}
*/

.modal-content  .tab-content .tab-pane {
  display: none;
  background-color: #fff;
  padding: 1.6rem;
  overflow-y: auto;
}
.modal-content .tab-content .active {
  display: block;
}

.modal-content  .list-group {
  width: 100%;
}
.modal-content  .list-group .list-group-item {
  height: 50px;
}
.modal-content .list-group .list-group-item h4, .list-group .list-group-item span {
  line-height: 11px;
}


.example {
  margin: 20px;
}

.sublogo {
  font-weight: bold;
  font-family: "nhg-text-bold", Arial, Helvectica;
  font-size: 28px;
  color: rgb(205, 4, 11);
  padding-top: 9px;
  display: inline-block;
}

header .navbar .navbar-header .navbar-brand {
  width: 190px;
}

header .navbar .navbar-header {
  display: flex;
  align-items: center;
}

.navbar-toggle {
  display: inline-block;
}

header .navbar .navbar-header .navbar-toggle {
  position: relative;
  padding: 28px 12px;
  margin-right: 8px;
}

header .leftnav {
  align-items: center;
  display: flex;
  height: 85px;
  flex-direction: row-reverse;
}

#profile-menu {
  position: relative;
  bottom: 0px;
}

#vz-search-form {
  float: none;
  position: relative;
  display: inline-block;
  top: 0px;
  left: 0px;
}

.notifications {
  font-size: 24px;
  padding: 15px;
}

.link {
  display: inline-block;
  padding-left: 5px;
}

.left-menu,
.right-menu {
  border: 1px solid #ccc;
  z-index: 1;
  border-top: none;
}

.right-menu {
  border-left: none;
  z-index: 1
}

.left-menu {
  position: relative;
}

.toggle-left-menu button {
  position: relative;
}

.toggle-left-menu button {
  border-radius: 0px;
  padding: 7px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  left:-15px;
}

.toggle-left-menu button.left-position {
  left:39px;
}

/*.toggle-left-menu .left-position {
  left: -104px;
}*/

.layout-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.layout-flex > div {
  margin: 10px 5px;
  text-align: center;
  width: 75px;
}

.create-new {
  text-align: right;
  padding-bottom: 5px;
}

.layout-component,
layout-template {
  padding: 5px 0px 5px;
}

h5 {
  font-weight: bold;
}


.layout-flex > div button,
.layout-flex > div button:hover {
    background-color: #fff;
    border: none;
    padding: 0px 23px;
    min-height: 38px;
}
.layout-flex  div.selected-link-class .link-icon{
    /*background-color: #004BAF;
    border: none;*/
      background-image: url(images/ciscoicons/link_red.png);

}
.layout-flex > div button i {
  color: #000;
}

.layout-flex  div.selected-link-class i {
  color: #fff;
}

.fa.notifications {
  font-size: 24px;
  color: #4b4b4b;
}

.relativePos .btn-default:hover, .relativePos .btn-default:focus, .relativePos .btn-default:active, .relativePos .btn-default.active{
  background-color: #fff;
  border-color: #fff;
}
.relativePos .btn:active, .relativePos .btn.active{
  box-shadow: none;
}

link {
  display: inline-block;
  padding-left: 5px;
}

.left-menu,
.right-menu {
  z-index: 1
}

.right-menu {
  border-left: none;

}

.toggle-left-menu {
  position: absolute;
  height:0px;
  z-index: 2;
}

/*.toggle-left-menu button,
.left-menu {
  z-index: 3;
  position: relative;
  ;
  overflow: auto;
}*/

.layout-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.layout-flex > div {
  text-align: center;
  min-width: 90px;
  max-width: 108px;
  flex: auto;
}

.create-new {
  text-align: right;
  padding-bottom: 5px;
}

.layout-component,
layout-template {
  padding: 5px 0px 5px;
}

h5 {
  font-weight: bold;
  cursor: pointer;
}

hr {
  margin: 5px 0px
}

.layout-template .accordion {
  float: right;
}

.hidden {
  display: none;
}

.layout-flex > div.details {
  flex-basis: 100%;
  background-color: #eeeeee;
}

.hidden {
  display: none;
}

.layout-flex > div.details div.details-element {
  line-height: 24px;
  text-align: left;
}

.layout-flex > div.details div.details-element span {
  text-align: left;
  vertical-align: top;
}

.layout-flex > div.details div.details-element span.labelData {
  display: inline-block;
  width: 40%;
  flex-grow: 1;
  text-align: right;
  padding-right: 5px;
}

.layout-flex > div.details div.details-element span.data {
  display: inline-block;
  width: 56%;
  flex-grow: 1;
  padding-left: 5px;
}

.layout-flex > div.details .link {
  display: inline-block;
  width: 100%;
  background-color: #bdbdbd;
  padding: 5px;
}
.margin-data{padding-top:10%;padding-left: 50%}
.custom-tooltip {

        display: flex;
    flex-wrap: wrap;
    font-family: "Arial";
    font-size: 12px;
}
.custom-tooltip  i{
    font-size: 18px;
    padding-bottom: 5px;
}

.popover{
	max-width: 334px;
}
.bold-text {
    font-weight: 800;
}.popup-section{

    text-align: center;
    padding: 5px 0px;
    margin: 5px auto;

    cursor: pointer;
}
.popup-section:hover{opacity: 0.6}
.controls,.controls1{width:30%;    border-right: none;display: none}
.context-menu{z-index: 1000}
.popup-section div.label-data{display: inline-block;
padding-left: 5px;
position: relative;
top: -2px;
}
#pageModal .modal-dialog {
     width: 80%;
}

.fb-icon,.optical-switch{width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url("images/ciscoicons/forwarding box.png");
    background-repeat: no-repeat;
}.optical-switch{
  height: 32px;
    background-image: url("images/ciscoicons/optical switch.png");
}
.link-icon{
  height: 32px;
  width: 32px;
  background-image: url("images/ciscoicons/link.png");
  display: inline-block;
  background-repeat: no-repeat;

}
.patch-panel{    height: 37px;
    background-image: url(images/ciscoicons/patchpanel.jpg);
    background-repeat: no-repeat;
    width: 23px;
    margin: 0 0 0 0%;
    background-size: 80%;}
.host{
  height: 32px;
  background-image: url("images/ciscoicons/standard host.jpg");
  background-size: 90% auto;
  width: 24px;
  background-repeat: no-repeat;
}

.linkhide{display:
none;}
#pageModal .radio{
	display:inline-block;
	padding-right:10px;
}
#pageModal label{
	display:block;
}

.relativePos{
  position:relative;
}
.context-menu{
  border: 1px solid grey;
  border-bottom: 0px;
  position: absolute;
  top: 45px;
  left: 40px;
  background-color: #fff;
}
.contextUl{
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor:pointer;
}
.contextUl:before{
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  top: -6px;
  width: 10px;
  height: 10px;
  background-color:#fff;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
.contextUlLi{
  padding: 5px 10px;
  border-bottom: 1px solid grey;
}
#pageModal .alert-message-success ,#pageModal .alert-message-error{padding: 1.6rem;
overflow-y: auto;display:none;}
/*.left-tabs.nav-tabs{height:44px;}*/
 .btn-primary, .btn-primary:hover {
    background: #CD040B;    border: 0px;
}
 .btn-default , .btn-default:hover{
    background: #4B4B4B;
    color:#fff; border: 0px;
}
/*.btn.active:focus, .btn:active:focus, .btn:focus, a:focus {
    box-shadow: none;    background-color: #fff;
}*/
.spin
{
  filter:alpha(opacity=10);
  opacity:0.1;
  margin: 17% 0 0 46%;
  text-align:center;
  z-index:10;
  position:absolute;
  background: #FFF; /* outline */
  > *
  {
    background: #EEE; /* hand */

  }
}
.popup{
	position: relative;
}
header .navbar .navbar-header .navbar-toggle{
  display: none
}
.tooltip-container{text-align: left;}
.float-actions{
  z-index: 10;
  position: absolute;
  right: 2px;
  padding: 10px;
}
.settings{
      vertical-align: middle;
      horizontal-align:center;
      margin:auto;
}
.policies {
    /* width: 90%; */
    margin: 0 7% 0 7%;
    border: 1px solid black;
}
.policytable {
    margin: 1% 0 0 1.1%;
    width: 98.92%;
}
.policycreate {
    float: right;
    padding: 0 0 0 3px;
    margin: 1% 0% 0 1%;
}
.polconstraint {
   
    width: 97%;
    margin: 0% 0 0 3%;

}
