<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Templates</h4>
		</div>
		<div class="modal-body">
			<div class="spin" data-spin>
			</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="col-xs-3 col-lg-2">
							<ul class="nav nav-tabs tabs-left">
								<li class="active"><a href="#fbInstantCre" data-toggle="tab">FB Instance Creation</a></li>
								<li><a href="#fbFanTem" data-toggle="tab">FB Fan Template</a></li>
								<li><a href="#fbOsTem" data-toggle="tab">FB OS Template</a></li>
								<li><a href="#fbPowerSup" data-toggle="tab">FB Powersupply Template</a></li>
								<li><a href="#fbTemplate" data-toggle="tab">FB Template</a></li>
								<li><a href="#fbTranseiverTem" data-toggle="tab">FB Transiever Template</a></li>
							</ul>
						</div>
						<div class="col-xs-9 col-lg-10">
							<div class="tab-content">
								<div class="alert alert-success alert-message-success">
									<strong>Success!</strong>
								</div>
								<div class="alert alert-danger alert-message-error">
									<strong>Error!</strong>
								</div>
								<div class="tab-pane active" id="fbInstantCre">
									<div class="panel-group">
									    <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="#viewInstance" aria-expanded="true">View Instances</a>
												</h4>
											</div>
											<div id="viewInstance" role="tabpanel">
											<div class="panel-body">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Edit</th>
															<th>Name</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
									      </table>
											</div>
										</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="fbFanTem">
									<div class="panel-group">
									    <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="#viewFanTemplate" aria-expanded="true">View Fan Template</a>
												</h4>
											</div>
											<div id="viewFanTemplate" role="tabpanel">
											<div class="panel-body">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Edit</th>
															<th>Name</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
									          </table>
											</div>
										</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="fbOsTem">
									<div class="panel-group">
									    <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="#viewOsTemplate" aria-expanded="true">View OS Template</a>
												</h4>
											</div>
											<div id="viewOsTemplate" role="tabpanel">
											<div class="panel-body">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Edit</th>
															<th>Name</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
									          </table>
											</div>
										</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="fbPowerSup">
									<div class="panel-group">
									    <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="#viewPowerSupplyTemplate" aria-expanded="true">View Powersupply Template</a>
												</h4>
											</div>
											<div id="viewPowerSupplyTemplate" role="tabpanel">
											<div class="panel-body">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Edit</th>
															<th>Name</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
									          </table>
											</div>
										</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="fbTemplate">
									<div class="panel-group">
									    <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="#viewFbTemplate" aria-expanded="true">View FB Template</h4>
											</div>
											<div id="viewFbTemplate"  role="tabpanel">
											<div class="panel-body">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Edit</th>
															<th>Name</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
									          </table>
											</div>
										</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="fbTranseiverTem">
									<div class="panel-group">
									    <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="#viewTransceiverTemplate" aria-expanded="true">View Transceiver Template</h4>
											</div>
											<div id="viewTransceiverTemplate" role="tabpanel">
											<div class="panel-body">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Edit</th>
															<th>Name</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
									          </table>
											</div>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary btn-sm saveBtn" id="assigningTemplates">Save</button>
			<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>
