<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Templates</h4>
		</div>
		<div class="modal-body">
			<div class="spin" data-spin>
			</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="col-xs-3 col-lg-2">
							<ul class="nav nav-tabs tabs-left">
								<li class="active"><a href="#fbOsTem" data-toggle="tab">FB OS Template</a></li>
								<li><a href="#fbTransceiverTem" data-toggle="tab">FB Transceiver Hardware Template</a></li>
								<li><a href="#fbHardwareTem" data-toggle="tab">FB Hardware Template</a></li>
							</ul>
						</div>
						<div class="col-xs-9 col-lg-10">
							<div class="tab-content">
								<div class="alert alert-success alert-message-success">
									<strong>Success!</strong>
								</div>
								<div class="alert alert-danger alert-message-error">
									<strong>Error!</strong>
								</div>
								<div class="tab-pane active" id="fbOsTem">
									<div class="panel-group">
									    <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="#viewOsTemplate" aria-expanded="true">View OS Template</a>
												</h4>
											</div>
											<div id="viewOsTemplate" role="tabpanel">
											<div class="panel-body">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Edit</th>
															<th>Name</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
									          </table>
											</div>
										</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="fbTransceiverTem">
									<div class="panel-group">
									    <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="#viewTransceiverHardwareTemplate" aria-expanded="true">View Transceiver Hardware Template</a>
												</h4>
											</div>
											<div id="viewTransceiverHardwareTemplate" role="tabpanel">
											<div class="panel-body">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Edit</th>
															<th>Name</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
									          </table>
											</div>
										</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="fbHardwareTem">
									<div class="panel-group">
											<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a href="#viewHardwareTemplate" aria-expanded="true">View Hardware Template</a>
												</h4>
											</div>
											<div id="viewHardwareTemplate"  role="tabpanel">
											<div class="panel-body">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th>Edit</th>
															<th>Name</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
														</table>
											</div>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary btn-sm saveBtn" id="assigningTemplates">Save</button>
			<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>
